.contenedor {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 50px;
 
  .superior {
    height: 100%;
    width: 100%;
    background-color: var(--cielo-azur);
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    
    .link1 {
       
        padding-left: 600px;
      ul {
        list-style: none;
      }
    }
    .link2 {
        
        padding-left:150px;
      ul {
        list-style: none;
      }
    }
    
  }
  .copy {
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--azul-opacity-azur);
  }
}
