
  <div class="contenedor">
      <div class="superior">
    <div class="link1 ">
      <ul>
        
        <li>Sobre nosotros</li>
        <li>Contacto</li>
        <li>Catalogo</li>
      </ul>
    </div>

    <div class="link2">
      <ul>
        <li>C. Tesalónica, SN, Parcela C, 41007 Sevilla</li>
        <li>hola@azurglobal.es</li>
        <li>955000555</li>
      </ul>
    </div>
  </div>
  <div class="copy">
   <p>
     © 2020 Copyright:
   
    <a class="text-dark" href="https://azurglobal.es/">azurglobal.es</a>
    </p>
  </div>
</div>
  

