.contenedor-principal {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .entrada {
    .sobre-triangulo {
      position: relative;
      top: 0;
      animation-name: aparecer-sobre;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 100%;
      color: white;
    }
    .triangulo {
      border-right: 100vw solid transparent;
      border-top: 0 solid transparent;
      border-bottom: 200px solid white;
    }
  }
  .contenedor-contenido {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 0 3rem;

    .titulo {
      font-size: 70px;
      font-weight: 700;
      text-align: center;
      font-family: "Roboto";
      color: var(--logoAzulOscuro-azur);
    }

    .apartados {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;

      .apartado {
        position: relative;
        height: 760px;
        max-width: 1500px;
        width: 100%;
        .contenido {
          position: absolute;
          z-index: 2;
          width: 760px;
          padding: 2rem;
          background-color: var(--azul-opacity-azur);
          .subtitulo {
            padding-bottom: 1rem;
            * {
              color: white;
              line-height: 4rem;
              font-weight: 500;
              font-size: 70px;
              font-family: "Roboto";
              margin: 0;
            }
            .subtitulo-arriba {
              -webkit-text-fill-color: transparent;
              -webkit-text-stroke-width: 1.2px;
              -webkit-text-stroke-color: currentColor;
            }
            .subtitulo-abajo {
              align-items: center;
              justify-content: center;
            }
          }
          .descripcion {
            color: white;
          }
        }

        .contenedor-imagen {
          position: absolute;
          width: 760px;
          height: 760px;
          background-image: url("../../../assets/empresa/almacen2.png");
          background-size: auto 80%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .impar {
        .contenedor-imagen {
          right: 0;
        }
      }
      .par {
        .contenido {
          right: 0;
        }
      }
    }
  }
}



@keyframes aparecer-sobre {
  from {
    top: -100vh;
  }
}
@keyframes abajo-arriba {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
