.contenedor-principal {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .entrada {
      position: relative;
      top: 0;
      animation-name: aparecer-sobre;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 100%;
      color: white;

  }
  .contenedor-contenido {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    .titulo {
      font-size: 70px;
      font-weight: 700;
      text-align: center;
      font-family: "Roboto";
      color: var(--logoAzulOscuro-azur);
    }

    .apartados {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;

      .apartado {
        max-width: 1500px;
        width: 100%;
        .contenido {
          z-index: 2;
          padding: 2rem;
          background-color: var(--azul-opacity-azur);
          .subtitulo {
            padding-bottom: 1rem;
            * {
              color: white;
              line-height: 4rem;
              font-weight: 500;
              font-size: 70px;
              font-family: "Roboto";
              margin: 0;
            }
            .subtitulo-arriba {
              -webkit-text-fill-color: transparent;
              -webkit-text-stroke-width: 1.2px;
              -webkit-text-stroke-color: currentColor;
            }
            .subtitulo-abajo {
              align-items: center;
              justify-content: center;
            }
          }
          .descripcion {
            color: white;
          }
        }

        .contenedor-imagen {
          background-size: auto 80%;
          background-image: url("../../../assets/empresa/almacen2.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}



@keyframes aparecer-sobre {
  from {
    top: -100vh;
  }
}
@keyframes abajo-arriba {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}


@media only screen and (min-width: 901px) {
  .apartado{  
    position: relative;
    height: 760px;
    .contenido{
      position: absolute;
      width: 760px;
    }
    .contenedor-imagen{
      position: absolute;
      width: 760px;
      height: 100%;
    }
  }
  .impar {
    .contenedor-imagen {
      right: 0;
    }
  }
  .par {
    .contenido {
      right: 0;
    }
  }

}
@media only screen and (max-width: 900px) {
  .apartado{
    .contenido{
      background: linear-gradient( rgba(0, 71, 142, 0.8) 100%, rgba(0, 71, 142, 0.8)100%),url("../../../assets/empresa/almacen2.png");
      grid-area: contenido;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
