<div class="contenedor-principal">
  <div class="entrada animate__animated animate__fadeInDown">
    <div class="sobre-triangulo">
      <h2 class="display-4">Sobre nosotros</h2>
    </div>
    <div class="triangulo"></div>
  </div>
  <div class="tarjetas_info">
    <div class="secciones impar">
      <div class="imagen">
        <img src="../../../assets/empresa/Pistola1(mod).png" alt="Pistola1" />
      </div>
      <div class="texto">
        <h2 class="rotulo">Historia</h2>
        <p class="info">
          Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
          papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
          gramenawer ese que llega. De la pradera tiene musho peligro a peich
          amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
          madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
          peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
          diodeno ese hombree ese hombree condemor.
        </p>
      </div>
    </div>
    <div class="secciones par">
      <div class="texto">
        <h2 class="rotulo">Historia</h2>
        <p class="info">
          Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
          papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
          gramenawer ese que llega. De la pradera tiene musho peligro a peich
          amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
          madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
          peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
          diodeno ese hombree ese hombree condemor.
        </p>
      </div>
      <div class="imagen">
        <img src="../../../assets/empresa/Pistola1(mod).png" alt="Pistola1" />
      </div>
    </div>
    <div class="secciones impar">
      <div class="imagen">
        <img src="../../../assets/empresa/Pistola1(mod).png" alt="Pistola1" />
      </div>
      <div class="texto">
        <h2 class="rotulo">Historia</h2>
        <p class="info">
          Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
          papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
          gramenawer ese que llega. De la pradera tiene musho peligro a peich
          amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
          madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
          peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
          diodeno ese hombree ese hombree condemor.
        </p>
      </div>
    </div>
    <div class="secciones par">
      <div class="texto">
        <h2 class="rotulo">Historia</h2>
        <p class="info">
          Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
          papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
          gramenawer ese que llega. De la pradera tiene musho peligro a peich
          amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
          madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
          peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
          diodeno ese hombree ese hombree condemor.
        </p>
      </div>
      <div class="imagen">
        <img src="../../../assets/empresa/Pistola1(mod).png" alt="Pistola1" />
      </div>
    </div>
  </div>
</div>
