<div class="contenedor-principal">
  <div class="entrada">
    <h1 class="display-1">
      <app-animacion-letras [palabra]="'Sobre Nosotros'" [delay]="1000" [duracion]="750" [activo]="primerSubtitulo"></app-animacion-letras></h1>
  </div>
  <div class="contenedor-contenido" id="contenedor">
    <!-- <div class="titulo">
      <img src="../../../assets/imagen/LOGO-AZURGLOBAL.SVG" alt="" srcset="">
    </div> -->
    <div class="apartados">
      <div class="apartado impar">
        <div class="contenedor-imagen">
        </div>
        <div class="contenido">
          <div class="subtitulo">
            <div class=" subtitulo-arriba">
              <app-animacion-letras [palabra]="'Nuestra'" [delay]="1560" [duracion]="750" [activo]="primerSubtitulo"></app-animacion-letras>
            </div>
            <div class="subtitulo-abajo">
              <app-animacion-letras [palabra]="'Historia'" [delay]="1740" [duracion]="750" [activo]="primerSubtitulo"></app-animacion-letras>
            </div>
          </div>
          <div class="descripcion">
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>
          </div>
        </div>
      </div>
      <div class="apartado par">
        <div class="contenido">
          <div class="subtitulo">
            <div class=" subtitulo-arriba">
              <app-animacion-letras [palabra]="'Nuestros'" [delay]="560" [duracion]="750" [activo]="segundoSubtitulo"></app-animacion-letras>
            </div>
            <div class="subtitulo-abajo">
              <app-animacion-letras [palabra]="'Valores'" [delay]="740" [duracion]="750" [activo]="segundoSubtitulo"></app-animacion-letras>
            </div>
          </div>
          <div class="descripcion">
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>
          </div>
        </div>
        <div class="contenedor-imagen">
        </div>
      </div>
      <div class="apartado impar">
        <div class="contenedor-imagen">
        </div>
        <div class="contenido">
          <div class="subtitulo">
            <div class=" subtitulo-arriba">
              <app-animacion-letras [palabra]="'Misión y'" [delay]="560" [duracion]="750" [activo]="terceroSubtitulo"></app-animacion-letras>
            </div>
            <div class="subtitulo-abajo">
              <app-animacion-letras [palabra]="'Visión'" [delay]="740" [duracion]="750" [activo]="terceroSubtitulo"></app-animacion-letras>
            </div>
          </div>
          <div class="descripcion">
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>