<div class="contenedor-principal">
  <div class="entrada">
    <div class="sobre-triangulo">
      <h1 class="display-1">Sobre nosotros</h1>
    </div>
    <div class="triangulo"></div>
  </div>
  <div class="contenedor-contenido">
    <div class="navegacion">
      <div (click)="actionMenu(0)" [ngClass]="{'seleccionado': numero_seccion == 0}">
        <img [ngClass]="{'noMostrar': numero_seccion != 0}" src="../../../assets/LOGOcortado.png"  alt="logo">Historia
      </div>
      <div (click)="actionMenu(1)" [ngClass]="{'seleccionado': numero_seccion == 1}">
        <img [ngClass]="{'noMostrar': numero_seccion != 1}"  src="../../../assets/LOGOcortado.png"  alt="logo">Nuestro Valores
      </div>
      <div (click)="actionMenu(2)" [ngClass]="{'seleccionado': numero_seccion == 2}">
        <img [ngClass]="{'noMostrar': numero_seccion != 2}"  src="../../../assets/LOGOcortado.png"  alt="logo">Misión y visión
      </div>
    </div>
    <div class="secciones">
      <div id="historia" class="seccion"  [ngClass]="numero_seccion != 0 ? 'noMostrar' : 'distribucion'">
        <h2 class="rotulo">Historia</h2>
        <div class="info">
          <p>
            <img class="imagen derecha" src="../../../assets/empresa/almacen2.png" alt="Pistola1" />
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>

        </div>
      </div>
      <div id="valores" class="seccion"  [ngClass]="numero_seccion != 1 ? 'noMostrar' : 'distribucion'">
        <h2 class="rotulo">Nuestro Valores</h2>
        <div class="info">
          <p>
            <img class="imagen izquierda" src="../../../assets/empresa/almacen2.png" alt="Pistola1" />
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>
          </p>
        </div>
      </div>
      <div id="mision" class="seccion"  [ngClass]="numero_seccion != 2 ? 'noMostrar' : 'distribucion'">
        <h2 class="rotulo">Misión y visión</h2>
        <div class="info">
          <p>
            <img class="imagen derecha" src="../../../assets/empresa/almacen2.png" alt="Pistola1" />
            <strong>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega.
            </strong>
            <br><br>
            Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
            papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
            gramenawer ese que llega. De la pradera tiene musho peligro a peich
            amatomaa condemor jarl. Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            Te voy a borrar el cerito por la gloria de mi
            madre papaar papaar amatomaa diodeno por la gloria de mi madre. A
            peich te va a hasé pupitaa no puedor fistro. Quietooor amatomaa
            diodeno ese hombree ese hombree condemor.
            <br><br>
            <span>
              Lorem fistrum torpedo a peich sexuarl papaar papaar pupita jarl papaar
              papaar mamaar diodeno sexuarl. Jarl torpedo al ataquerl diodenoo a
              gramenawer ese que llega. De la pradera tiene musho peligro a peich
              amatomaa condemor jarl.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>