.contenedor-principal {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  .entrada {
    position: relative;
    animation-name: aparecer-sobre;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    .sobre-triangulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 100%;
      background-color: var(--azul-azur);
      color: white;
    }
    .triangulo {
      width: 0;
      height: 0;
      border-right: 100vw solid var(--azul-azur);
      border-top: 0 solid transparent;
      border-bottom: 200px solid transparent;
    }
  }
  .tarjetas_info {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    
    .secciones {
      max-width: 1000px;
      display: grid;
      gap: 3rem;
      
      .imagen {
        grid-area: imagen;
        position: relative;
        left: 0;
        width: 300px;
        height: 300px;
        background-color: var(--azul-azur);
        align-items: center;
        animation-timing-function: ease-in-out;
        animation-duration: 1.5s;
        img {
          position: relative;
          width: 100%;
          animation-timing-function: ease-in-out;
          animation-duration: 1.8s;
        }
      }
      .info{
        grid-area: info;
      }
      .rotulo {
        grid-area: rotulo;
        height: 100%;
      }
      .info , .rotulo{
        position: relative;    
        left: 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
      }
    }
    .impar {
      .imagen{
        animation-name: contenedor_izquierda;
        img{
          left: 10px;
          animation-name: contenedor_izquierda;
        }
      }

      .rotulo,.info{
        animation-name: contenedor_derecha;
      }
    }
    .par {
      .imagen{
        animation-name: contenedor_derecha;
        img{
          left: -10px;
          animation-name: contenedor_derecha;
        }
      }

      .rotulo,.info{
        animation-name: contenedor_izquierda;
      }
    }
  }
}
@keyframes aparecer-sobre {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@keyframes contenedor_izquierda {
  from {
    left: -100vw;
  }
}


@keyframes contenedor_derecha {
  from {
    left: 100vw;
  }
}



@media only screen and (min-width:1045px){
  .imagen{
    display: flex;
  }
  .rotulo{
    border-right: 2px solid black;
  }
  .impar{
    grid-template-areas: "imagen rotulo info";
  }
  .par {
    grid-template-areas: "rotulo info imagen";
  }
}
@media only screen and (max-width:1044px){
  .imagen{
    display: flex;
  }
  .rotulo{
    display: flex;
    justify-content: center;
  }
  .impar{
    grid-template-areas: "rotulo rotulo" "imagen  info";
  }
  .par {
    grid-template-areas: "rotulo rotulo" "info imagen";
  }
}
@media only screen and (max-width:700px){
  .imagen{
    display: none;
  }
  .rotulo{
    display: flex;
    justify-content: center;
  }
  .impar{
    grid-template-areas: "rotulo " "info";
  }
  .par {
    grid-template-areas: "rotulo" "info";
  }
}