.contenedor{
    background-color: var(--azul-azur);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    
    .logo{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        img{
            width: 200px;
        }
    }
    .links{
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: baseline;
        .link{
            padding: 0 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link:hover{
            height: 100%;
            display: flex;
            align-items: center;
            background-color: var(--cielo-azur);
        }
    }
    .icons{
        padding: 0.25rem;
        color: white;
        margin-right: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
}