<div class="contenedor">
  <div class="logo" routerLink="">
    <img src="../../../assets/LOGO-AZURGLOBAL-WP(MEDIANO).png" alt="" />
  </div>
  
  <div class="links">
    <div class="link" routerLink="">
      <label for="">Inicio</label>
    </div>
    <div class="link" routerLink="/sobrenosotros">
      <label for="">¿Quienes somos?</label>
    </div>
    <div class="link" routerLink="/catalogo">
      <label for="">Nuestros productos</label>
    </div>
    <div class="link" routerLink="/contacto">
      <label for="">Contactanos</label>
    </div>
  </div>
  <div class="icons">
    <fa-icon class="icon fa-2x" [icon]="faUser" routerLink="/login"></fa-icon>
  </div>
</div>
