.contenedor{
    background-color: var(--cyan-azur);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    
    .logo{
        width: 200px;
        display: flex;
        align-items: center;
    }
    .links{
        width: 100%;
        gap: 2.5rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: baseline;
        .link{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link:hover{
            height: 100%;
            display: flex;
            align-items: center;
            background-color: var(--cielo-azur);
        }
    }
}