<div class="contenedor">
  <div class="logo" routerLink="">
    <img src="../../../assets/LOGO-AZURGLOBAL-WP(MEDIANO).png" alt="" />
  </div>

  <div class="links">
    <div class="link" routerLink="">
      <label for="">Inicio</label>
    </div>
    <div class="link" routerLink="/sobrenosotros">
      <label for="">¿Quienes somos?</label>
    </div>
    <div class="link" routerLink="/catalogo">
      <label for="">Nuestros productos</label>
    </div>
    <div class="link" routerLink="/contacto">
      <label for="">Contactanos</label>
    </div>
  </div>
  <div class="icons">
    <fa-icon class="icon fa-xl" [icon]="faUser" routerLink="/login"></fa-icon>
    <fa-icon class="icon-mini" [icon]="faBarras" (click)="cambioBandera()"></fa-icon>
  </div>
</div>
<div [ngClass]="{
  cerrado: bandera && !comienzo,
  desplegable: !bandera && !comienzo,
  primero: comienzo
}">
  <div class="links-desplegable">
    <div class="link-desplegable" routerLink="">
      <label for="">Inicio</label>
    </div>
    <div class="link-desplegable" routerLink="/sobrenosotros">
      <label for="">¿Quienes somos?</label>
    </div>
    <div class="link-desplegable" routerLink="/catalogo">
      <label for="">Nuestros productos</label>
    </div>
    <div class="link-desplegable" routerLink="/contacto">
      <label for="">Contactanos</label>
    </div>
    <div class="link-desplegable" routerLink="/login">
      <label for="">Iniciar sesión <fa-icon class="icon" [icon]="falock"></fa-icon></label>
    </div>
  </div>
</div>
