<div class="contenedor">
  <img class="logo" src="../../../assets/LOGO-AZURGLOBAL.SVG" alt="" />
  <div class="links">
    <div class="link" routerLink="">
      <label for="">Inicio</label>
    </div>
    <div class="link" routerLink="/catalogo">
      <label for="">Catálogo</label>
    </div>
    <div class="link" routerLink="/sobrenosotros">
      <label for="">¿Quienes somos?</label>
    </div>
    <div class="link" routerLink="/sobrenosotros">
      <label for="">Área Cliente</label>
    </div>
    <div class="link" routerLink="/contacto">
      <label for="">Contactanos</label>
    </div>
  </div>
</div>
