
div{
  display: flex;
  .mensaje{
    display: block;
    margin: 0;
    span{
      position: relative;
      display: inline-block;
      will-change: transform, opacity;
      animation-name: aparecer;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      opacity: 0;
    }
  }
  .bloque{
    visibility: hidden;
  }
}


@keyframes aparecer {
    0% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
}