.contenedor-principal {
  height: 100%;
  display: grid;
  grid-template-rows: 250px 1fr;
  margin-bottom: 3rem;
  .contenedor-cabecera {
    color: white;
    position: relative;
    top: -500px;
    width: 100%;
    animation-name: comienzo;
    text-align: center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    height: 250px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: none;
    }

    .aux {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .telmail {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .triangulo {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 200px solid white;
  }
  .contenedor-cuerpo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    .contenedor-cajas {
      border-top: 1px solid var(--azul-azur);
      border-right: 1px solid var(--azul-azur);
      border-left: 1px solid var(--azul-azur);
      height: 100%;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .contenedor-izquierda,
      .contenedor-derecha {
        display: grid;
        .caja-izquierda,
        .caja-derecha {
          border-bottom: 1px solid var(--azul-azur);
          position: relative;
          z-index: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .circulo-izquierda,
          .circulo {
            background-color: var(--azul-azur);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
          }
          .rotulo {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          & .linea {
            background-color: var(--azul-azur);
            height: 2px;
            width: 300px;
            margin-bottom: 20px;
          }
          img {
            max-width: 100%;
            max-height: 500px;
            height: auto;
            display: block;
            margin: 0px auto;
          }
        }
        &.contenedor-izquierda {
          border-right: 1px solid var(--azul-azur);
          grid-template-rows: 500px 500px;
          .caja-izquierda {
            .circulo-izquierda {
              width: 350px;
              height: 350px;
            }
          }
        }
        &.contenedor-derecha {
          grid-template-rows: 333px 333px 333px;
          .caja-derecha {
            height: 100%;
  
            .circulo {
              width: 250px;
              height: 250px;
            }
  
            img {
              max-height: 333px;
  
              position: relative;
            }
          }
          .imagen {
            width: 100%;
            height: 100%;
          }
        }
      }
      .complementario {
        padding: 3rem;
        position: absolute;
        z-index: 1;
        opacity: 0;
        font-size: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        transition: 0.3s;
      }
      .caja-izquierda:hover,
      .caja-derecha:hover {
        img {
          animation: forwards opacity 0.3s ease-in-out;
        }
        .complementario {
          animation-name: circle-in-center;
          animation-timing-function: ease-in-out;
          animation-duration: 1.2s;
          opacity: 1;
          color: white;
          background-color: var(--azul-azur);
          padding: 3rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
//variables globales
$animationSpeed: 20s;
.slider {
  background: white;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  width: 99%;
  background-color: white;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 0.5rem;

  img {
    width: 220px;
    height: 75%;
  }

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 350px;
    z-index: 2;
  }

  &::after {
    height: 100%;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    height: 100%;
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    justify-content: center;
    width: calc(300px * 14);
    align-items: center;
    gap: 1.5rem;
  }

  .slide {
    height: auto;
    width: auto;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
// Animation
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
    z-index: 0;
  }
  to {
    z-index: 0;
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 1s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes abajo-arriba {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes comienzo {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
