<div class="contenedor-principal">
    <div class="cabecera">
      <div>
        <img src="../assets/imagen/LOGO-AZURGLOBAL.SVG"  class="logo">
      </div>
      <div class="menu">
        <div>Nosotros</div>
        <div>Productos</div>
        <div>Contacto</div>
        <div>Area Cliente</div>
      </div>
    </div>
    <div class="contenedor-cuerpo">
      <div class="catalogo">
        <div class="titulo-catalogo">
          Catalogo de Productos
          <hr>
        </div>
        <div class="seccion">
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="seccion">
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="seccion">
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
          <div class="elemento elemento-derecha">
              <img src="../../../assets/imagen/amortiguador.png" alt="" class="imagen">
              <div class="apartado">
                <div class="titulo-producto">
                  <p> Barras estabilizadoras</p>
                </div>        
                <div class="descripcion">
                  <p>
                    Cada barra estabilizadora que producimos se somete a
                    pruebas en condiciones extremas, 
                    lo que le garantiza que funcionará cuando sea más necesario.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
