<div class="contenedor-principal">
  <div class="contenedor-cabecera">
    <div class="info">
      <h3 class="display-6"></h3>
      <div class="aux">
        <div class="telmail">
          <h1 class="display-1">Nuestros productos</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="triangulo"></div>
  <div class="cuerpo">
    <section class="primer-section">
      <div class="primera-imagen izquierda"></div>
      <div class="centro">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Amortiguadores</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                En nuestra seccion de amortiguadores podras encontrar
                amortiguciones para todo tipo de configuraciones, desde las mas
                sencillas y economicas hasta las mas deportivas para tu
                vehiculo.
              </p>
            </div>
            <app-boton [contenido]="'Mas info'" routerLink="/login"></app-boton>
          </div>

          <img src="../../../assets/piezas/AMORTIGUADORES.PNG" alt="" />
        </div>
      </div>
      <div class="derecha">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Filtros</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                En el apartado de filtros encontraras los filtros necesarios
                para su automovil, tanto filtros de aire, como filtro de
                habitaculo, filtro de aceite y de gasolina.
              </p>
            </div>
            <app-boton [contenido]="'Mas info'" routerLink="/login"></app-boton>
          </div>

          <img src="../../../assets/piezas/FILTROS.PNG" alt="" />
        </div>
      </div>
    </section>
    <section class="second-section">
      <div class="izquierda">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Frenos</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                En la seccion de frenos podras elegir entre todas nuestras
                marcas y modelos de pastillas de frenos
              </p>
            </div>
            <app-boton [contenido]="'Mas info'" routerLink="/login"></app-boton>
          </div>

          <img src="../../../assets/piezas/FRENOS.PNG" alt="" />
        </div>
      </div>
      <div class="centro segunda-imagen"></div>
      <div class="derecha">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Liquidos</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                Selecciona los mejores liquidos de freno, anticongelantes,
                liquido de direccion y limpiaparabrisas.
              </p>
            </div>
            <app-boton [contenido]="'Mas info'" routerLink="/login"></app-boton>
          </div>

          <img src="../../../assets/piezas/QUIMICOSYADITIVOS.PNG" alt="" />
        </div>
      </div>
    </section>
    <section class="tercera-secction">
      <div class="izquierda">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Baterias</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                Tenemos todos los formatos de baterias para vehiculos de
                multiples grupos de motor.
              </p>
            </div>
            <app-boton [contenido]="'Mas info'" routerLink="/login"></app-boton>
          </div>

          <img src="../../../assets/piezas/BATERIA.PNG" alt="" />
        </div>
      </div>
      <div class="centro">
        <div class="contenido">
          <div class="complementario">
            <div class="rotulo">
              <h4>Autorecambios</h4>
              <div class="linea"> </div>
            </div>
            <div class="texto">
              <p>
                Encontraras todo tipo de piezas externas para sustitución y si
                no la tenemos ¡Te la buscamos!
              </p>
            </div>
            <app-boton
              [contenido]="'Mas info'"
              routerLink="/login"
            ></app-boton>
          </div>
          <img src="../../../assets/piezas/espejo.png" alt="" />
        </div>
      </div>
      <div class="derecha tercera-imagen"></div>
    </section>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let foto of fotos">
        <img src="{{ foto }}" alt="" style="height: 100px; width: auto" />
      </div>
    </div>
  </div>
</div>
