.contenedor-principal {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .contenedor-triangulo {
    color: white;
    position: relative;
    top: -500px;
    animation-name: comienzo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 100%;
      background-color: var(--azul-azur);
    }
    .triangulo {
      width: 0;
      height: 0;
      border-left: 49.5vw solid transparent;
      border-right: 49.5vw solid transparent;
      border-top: 200px solid var(--azul-azur);
    }
    .aux {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .telmail {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .cuerpo{
    border:1px solid var(--azul-azur); ;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    
    .izquierda,.centro,.derecha {
      height: 510px;
      width: 660px;
      display: flex;
      padding: 10px ;
      flex-direction: column;
      
      align-items: center;
     
    }
    .centro{
      border-left:1px solid var(--azul-azur); 
      border-right: 1px solid var(--azul-azur);
    }

    .boton {
      
      width: 100%;
      text-align: center;
      height: 38px;
     
      button {
        margin: 0px auto;

        background-color: var(--azul-azur);
      }
    }
    .primera-fila {
      background-color: var(--azul-azur);
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;
      .logo {
        height: 150px;
        width: 525px;
      }
    }
    .segunda-fila {
      background-image: url(../../../assets/empresa/almacen2.png);
      background-size: cover;
    }
    .tercera-fila {
      background-image: url(../../../assets/empresa/Pistola1.png);
      background-size: cover;
    }
    .contenido {
      width: 500px;
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .linea {
        background-color: var(--azul-azur);
        height: 2px;
        width: 300px;
        margin-bottom: 20px;
      }
      img { 
        max-width: 100%;
        max-height:300px ;
        height: auto;
       // width: 250px;
       

        display: block;
        margin: 0px auto;
      }
    }
    .pieza {
      height: 510px;
      width: 630px;
    }
  }
  .seccion-centro{
     border-top: 1px solid var(--azul-azur);
     border-bottom: 1px solid var(--azul-azur);

  }
}
@keyframes comienzo {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
