.contenedor-principal {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .contenedor-triangulo {
    color: white;
    position: relative;
    top: -500px;
    animation-name: comienzo;
    animation-duration: 1.5s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 100%;
      background-color: var(--azul-azur);
    }
    .triangulo {
      width: 0;
      height: 0;
      border-left: 49.5vw solid transparent;
      border-right: 49.5vw solid transparent;
      border-top: 200px solid var(--azul-azur);
    }
  }
  .contenedor-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .rotulo{
      text-align: center;
    }
    .formulario{
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .arriba{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .nombre{
          width: 100%;
        }
        .telefono{
          width:100%;
        }
      }
    }
  }
}
@keyframes comienzo {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
