.contenedor-principal,
.info,
.aux,
.telmail,
.contenedor-cuerpo,
.contenido-cuerpo,
.contenedor-formulario,
.formulario,
.separacion,
.abajoform,
.contenedor-mapa {
  display: flex;
}
.contenedor-principal,
.contenedor-cuerpo,
.contenido-cuerpo,
.contenedor-formulario,
.contenedor-mapa {
  overflow-y: hidden;
  &.contenedor-cuerpo,
  .contenido-cuerpo {
    background-color: white;
  }
  &.contenedor-cuerpo {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    padding: 0.5rem;

    .contenido-cuerpo {
      position: relative;
      animation-name: abajo-arriba;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      .rotulo {
        text-align: center;
        width: 70%;
      }

      .contenedor-formulario {
        flex-direction: column;
        width: 100%;
        .formulario {
          padding: 0.5rem;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          .arribaform {
            gap: 0.5rem;
            .nombre,
            .telefono,
            .correo,
            .separacion {
              width: 100%;
              &.separacion {
                flex-direction: row;
                gap: 0.5rem;
              }
            }
          }
          .abajoform {
            flex-direction: column;
            gap: 0.5rem;
            .area-text {
              max-height: 200px;
              min-height: 200px;
              resize: none;
            }
          }
        }
      }
    }
    .contenedor-mapa {
      flex-direction: column;
      align-items: center;
      iframe {
        margin: 1.5rem 0 3rem 0;
        width: 70%;
        height: 350px;
        border: 0;
      }
    }
  }
}
.contenedor-principal {
  height: 100%;
  flex-direction: column;
  background-color: transparent;
  gap: 3rem;

  .contenedor-triangulo {
    color: white;
    .info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 300px;
      width: 100%;
      background-color: transparent;
      position: relative;
      top: -500px;
      animation-name: comienzo;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
    .triangulo {
      width: 0;
      height: 0;
      border-left: 49.5vw solid white;
      border-right: 49.6vw solid white;
      border-top: 200px solid transparent;
      margin-bottom: -50px;
    }
    .aux {
      padding-top: 3rem;

      flex-direction: column;
      align-items: center;
      .telmail {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
//variable globales
.linea {
  background-color: var(--azul-azur);
  height: 2px;
  width: 300px;
  margin-bottom: 20px;
}

//animaciones

@keyframes comienzo {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
@keyframes abajo-arriba {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

//mediaquery

@media only screen and (min-width: 901px) {
  .arribaform,
  .abajoform {
    width: 60%;

    &.arribaform {
      display: flex;
      flex-direction: row;
    }
  }
}
@media only screen and (max-width: 900px) {
  .arribaform,
  .abajoform {
    width: 80%;

    &.arribaform {
      display: flex;
      flex-direction: column;
    }
  }
}
