<div class="contenedor-principal">
  <div class="contenedor-triangulo">
          <h1 class="display-1"> <app-animacion-letras [palabra]="'Contacta con Nosotros'" [delay]="530" [duracion]="750" ></app-animacion-letras></h1>
          <div class="mini-info">
            <h5>
              <fa-icon class="icon fa-1x" [icon]="faPhone"></fa-icon> 955000555
            </h5>
            <h5>
              <fa-icon class="icon fa-1x" [icon]="faEmail"></fa-icon>
              infoGlobal@azurglobal.es
            </h5>
          </div>
          

  </div>
  <div class="contenedor-cuerpo">
    
    <div class="contenido-cuerpo">
      <h2 class="rotulo">
        Si desea algún tipo de información sobre nuestros catálogos, rellene
        este formulario y nos pondremos en contacto con usted.
      </h2>
      <div class="contenedor-formulario">
        <div class="formulario">
          <div class="arribaform">
            <div class="form-floating nombre">
              <input
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Nombre</label>
            </div>
            <div class="form-floating telefono">
              <input
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Telefono</label>
            </div>

            <div class="form-floating correo">
              <input
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Correo</label>
            </div>
          </div>
          <div class="abajoform">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Asunto</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control area-text"
                placeholder="Leave a comment here"
                id="floatingTextarea"
              ></textarea>
              <label for="floatingTextarea">Comentarios</label>
            </div>
          </div>
          <app-boton [contenido]="'Enviar'"></app-boton>
        </div>
      </div>
    </div>
    <div class="contenedor-mapa">
      <h2>Nuestra ubicación</h2>
      <div class="linea"> </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12679.326312876363!2d-5.9570343!3d37.3938151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55dc01fb611e08a2!2sAzur%20Global%20Sevilla!5e0!3m2!1ses!2ses!4v1652265141860!5m2!1ses!2ses"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
