.contenedor-principal,.texto,.carrusel,.ventajas,.izquierda,.derecha,.tarjeta,.rotulo{
  display: flex;
  &.contenedor-principal,.ventajas{
    overflow-x: hidden;
  }
}
.contenedor-principal {
  height: 100%;
  font-family: 'Roboto';
  overflow-y: hidden;
  width: 100%;
  flex-direction: column;
  align-items: center;
 
  .contenedor-primero {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    animation-name: aparecer;
    animation-duration: 1.3s;
    font-family: "Montserrat";

    .texto {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      h1,
      h4 {
        opacity: 0;
        position: relative;
        top: -600px;
        text-align: center;
        animation-name: abajo;
        animation-duration: 1.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
      h1 {
        animation-delay: 0.5s;
        font-size: 100px;
      }
      h4 {
        animation-delay: 1s;
        font-size: 80px;
      }
    }
  }
  .carrusel {
    background-color: var(--cieloClaro-azur);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      position: relative;
      top: 30px;
    }
    app-carrusel {
      width: 100%;
      height: 600px;
    }
  }

  // .contenedor-ventajas{
  //   padding: 3rem 0;
  //   background-color: white;
  //   .ventajas {
  //     padding: 1rem;
  //     height: 100%;
  //     width: 100%;
  //     gap: 2rem;
  //     transition: 0.5s;
  //     .izquierda,.derecha{
  //       transition: 0.5s;   
  //       opacity: 0;
  //       position: relative;
  //       align-items: center;
  //       gap: 2rem;
      
  //     &.izquierda {
  //       left: -100px;
  //       width: 100%;
  //     }
  //     &.derecha {
  //       right: -100px;
  //       width: 100%;
  //     }
  //     }
  //     .btn {
  //       background-color: white;
  //       color: var(--logoAzulClaro-azur);
  //       border-color: white;
  //     }
  //     .tarjeta {
  //       flex-direction: column;
  //       align-items: center;
  //       justify-content: space-around;
  //       color: white;
  //       padding: 1rem;
  //       background-color: var(--cieloClaro-azur);
  //       width: 30%;
  //       min-width: 310px;
  //       height: 600px;
  //       .img-tarjeta {
  //         height: 200px;
  //         img {
  //           max-height: 100%;
  //         }
  //       }
  //     }
  //   }
  // }
  
    .contenedor-ventajas{
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 80%;
      .rotulo{
        font-weight: bold;
        font-size: 55px;
        color: var(--azul-azur);
      }
      .primero, .tercero{
        transition: 0.8s; 
        position: relative;
        opacity: 0;
        right: -100px;
      }
      .segundo, .cuarto{
        transition: 0.8s; 
        position: relative;
        opacity: 0;
        left: -100px;
      }
      .etiqueta{
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        padding: 2.5rem;
        .texto{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          color: var(--azul-azur);
          width: 100%;
          font-size:30px ;
        }
        .image-der,.image-izq{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .alineacion{
            h1{
              font-size: 50px;
              -webkit-text-fill-color: transparent;
              -webkit-text-stroke-color: var(--azul-azur);
              -webkit-text-stroke-width: 1.5px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }

// variables globales
.rotulo {
  flex-direction: column;
  align-items: center;
}

.titulo{
  font-size: calc(1em + 2vw);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--azul-azur);
}

.linea {
  background-color: var(--azul-azur);
  height: 2px;
  width: 300px;
  margin-bottom: 20px;
}

//animaciones
@keyframes abajo {
  from {
    position: relative;
    top: -500px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes aparecer {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1264px) {
  .carrusel{
    padding: 0 15%;
  }
  .ventajas,.izquierda,.derecha {
    flex-direction: row;
    &.izquierda,.derecha{
      transition: 0.5s;
    }
  }
  .izquierda {
    left: 0;
    justify-content: right;
  }
  .derecha {
    right: 0;
  }
}

//mediaquery
@media only screen and (max-width: 600px) {
  .izquierda,.derecha {
    transition: all 0.5s;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 1263px) {
  .carrusel{
    padding: 0;
  }
  .ventajas {
    flex-direction: column;
    justify-content: center;
  }
  .izquierda,.derecha {
    transition: 0.5s;
    justify-content: center;
  }
}
