.contenedor-principal {
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  .contenedor-primero {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    animation-name: aparecer;
    animation-duration: 1.3s;

    .texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      h1,
      h4 {
        opacity: 0;
        position: relative;
        top: -600px;
        animation-name: abajo;
        animation-duration: 1.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
      h1 {
        animation-delay: 0.8s;
        font-size: 100px;
      }
      h4 {
        animation-delay: 1.3s;
        font-size: 80px;
      }
    }
  }
  
  .carrusel {
    background-color: var(--cieloClaro-azur);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      position: relative;
      top: 30px;
    }
    app-carrusel {
      width: 1000px;
      width: 70%;
      height: 600px;
    }
  }

  .contenedor-ventajas{
    padding: 3rem 0;
    background-color: white;
    .ventajas {
      overflow-x: hidden;
      padding: 1rem;
      height: 100%;
      width: 100%;
      display: flex;
      overflow-x: hidden;
      gap: 2rem;
      transition: 0.5s;
      .izquierda {
        transition: 0.5s;
        display: flex;
        opacity: 0;
        position: relative;
        left: -100px;
        width: 100%;
        align-items: center;
        gap: 2rem;
      }
      
      .derecha {
        transition: 0.5s;
        display: flex;
        opacity: 0;
        position: relative;
        right: -100px;
        width: 100%;
        align-items: center;
        gap: 2rem;
      }
      
      .btn {
        background-color: white;
        color: var(--logoAzulClaro-azur);
        border-color: white;
      }
      .tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        padding: 1rem;
        background-color: var(--cieloClaro-azur);
        width: 30%;
        min-width: 310px;
        height: 600px;
        .img-tarjeta {
          height: 200px;
          img {
            max-height: 100%;
          }
        }
      }
    }
  }

}

.rotulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  font-size: calc(1em + 2vw);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--azul-azur);
}

.linea {
  background-color: var(--azul-azur);
  height: 2px;
  width: 300px;
  margin-bottom: 20px;
}



@keyframes abajo {
  from {
    position: relative;
    top: -500px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes aparecer {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1264px) {
  .ventajas {
    flex-direction: row;
  }
  .izquierda {
    transition: 0.5s;
    display: flex;
    left: 0;
    flex-direction: row;
    justify-content: right;
  }

  .derecha {
    transition: 0.5s;
    display: flex;
    right: 0;
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .izquierda {
    transition: all 0.5s;
    flex-direction: column;
    justify-content: center;
  }

  .derecha {
    transition: all 0.5s;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 1263px) {
  .ventajas {
    flex-direction: column;
    justify-content: center;
  }
  .izquierda {
    transition: 0.5s;
    justify-content: center;
  }

  .derecha {
    transition: 0.5s;
    justify-content: center;
  }
}
