<div class="contenedor-principal">
  <div class="contenedor-primero">
    <div class="texto">
      <h1 class="display-1">Azur Global</h1>
      <h4>Tu vehiculo por piezas</h4>
    </div>
  </div>
  <div class="carrusel">
    <h1>Productos</h1>
    <div class="linea"> </div>
    <app-carrusel [listaProductos]="slides"></app-carrusel>
  </div>
  <div class="contenedor-ventajas">
    <div class="rotulo">
      <h1>Ventajas</h1>
      <div class="linea"> </div>
    </div>
    <div class="ventajas">
      <div class="izquierda">
        <div class="tarjeta" id="izquierda">
          <h4>Rapidez</h4>
          <div class="img-tarjeta">
            <fa-icon class="icon fa-8x" [icon]="faReloj"></fa-icon>
          </div>
          <p>
            Nuestra rapidez a la hora de entregar un pedido a nuestros clientes
            es óptima gracias a nuestra gestión del almacen y gran personal
          </p>
          <app-boton [contenido]="'Ver más'"></app-boton>
        </div>
        <div class="tarjeta" id="izquierda">
          <h4>Compromiso</h4>
          <div class="img-tarjeta">
            <fa-icon class="icon fa-8x" [icon]="faCompromiso"></fa-icon>
          </div>
          <p>
            Nuestra rapidez a la hora de entregar un pedido a nuestros clientes
            es óptima gracias a nuestra gestión del almacen y gran personal
          </p>

          <app-boton [contenido]="'Ver más'"></app-boton>
        </div>
      </div>
      <div class="derecha">
        <div class="tarjeta">
          <h4>Calidad</h4>
          <div class="img-tarjeta">
            <fa-icon class="icon fa-8x" [icon]="faCalidad"></fa-icon>
          </div>
          <p>
            Nuestra rapidez a la hora de entregar un pedido a nuestros clientes
            es óptima gracias a nuestra gestión del almacen y gran personal
          </p>

          <app-boton [contenido]="'Ver más'"></app-boton>
        </div>
        <div class="tarjeta" id="derecha">
          <h4>Futuro</h4>
          <div class="img-tarjeta">
            <fa-icon class="icon fa-8x" [icon]="faFuturo"></fa-icon>
          </div>
          <p>
            Nuestra rapidez a la hora de entregar un pedido a nuestros clientes
            es óptima gracias a nuestra gestión del almacen y gran personal
          </p>

          <app-boton [contenido]="'Ver más'"></app-boton>
        </div>
      </div>
    </div>
  </div>
</div>
