<div class="contenedor-principal">
  <app-navbar></app-navbar>
  <div class="contenido-principal">
    <div class="separador">
      <div class="texto">
        <h3>Todo tipo de recambios</h3>
        <p>
          En nuestro catálogo podra encontrar todo tipo de recambios para su
          coche y distintas marcas con las que comparar.
        </p>
        <button class="btn btn-outline-primary" routerLink="/sobrenosotros">Catálogo</button>
      </div>
      <img src="../../../assets/frenobrembo.jpg" alt="">
    </div>
    <div class="separador">
        <img src="../../../assets/frenobrembo.jpg" alt="">
      <div class="texto">
        <h3>Todo tipo de recambios</h3>
        <p>
          En nuestro catálogo podra encontrar todo tipo de recambios para su
          coche y distintas marcas con las que comparar.
        </p>
        <button class="btn btn-outline-primary" routerLink="/sobrenosotros">Catálogo</button>
      </div>
      
    </div>
    <div class="separador">
      <div class="texto">
        <h3>Todo tipo de recambios</h3>
        <p>
          En nuestro catálogo podra encontrar todo tipo de recambios para su
          coche y distintas marcas con las que comparar.
        </p>
        <button class="btn btn-outline-primary" routerLink="/sobrenosotros" (click)="scroll()">Catálogo</button>
      </div>
      <img src="../../../assets/frenobrembo.jpg" alt="">
    </div>
  </div>
</div>
