<div class="contenedor-principal">
  <app-navbar id="arriba"></app-navbar>
  
  <div class="contenido-principal">
    <h1 style="width:100%;text-align: center;">Nuestros productos</h1>
    <carousel
        [isAnimated]="true"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="!noWrap"
      [interval]="0"
      [startFromIndex]="0"
      class="carrusel"
    >
      <slide *ngFor="let slide of slides; let index = index">
          <div class="contenedor-img">
            <img
            [src]="slide.image"
            alt="image slide"
            class="img-slide"
          />
          </div>
        
        <div class="carousel-caption">
          <h4>{{slide.familia}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
  <h1 style="width:100%;text-align: center;">Ventajas</h1>
  <div class="ventajas">
      
    <div class="tarjeta">
      <h4>Rapidez</h4>
      <img class="img-tarjeta" src="../../../assets/rapidez.png" alt="" />
      <p>
        Nuestra rapidez a la hora de entregar un pedido a nuestros clientes es
        óptima gracias a nuestra gestión del almacen y gran personal
      </p>
      <div class="boton">
        <button
          class="btn btn-primary"
          routerLink="/sobrenosotros"
          (click)="scroll()"
        >
          Ver más
        </button>
      </div>
    </div>
    <div class="tarjeta">
      <h4>Compromiso</h4>
      <img class="img-tarjeta" src="../../../assets/rapidez.png" alt="" />
      <p>
        Nuestra rapidez a la hora de entregar un pedido a nuestros clientes es
        óptima gracias a nuestra gestión del almacen y gran personal
      </p>
      <div class="boton">
        <button
          class="btn btn-primary"
          routerLink="/sobrenosotros"
          (click)="scroll()"
        >
          Ver más
        </button>
      </div>
    </div>
    <div class="tarjeta">
      <h4>Calidad</h4>
      <img class="img-tarjeta" src="../../../assets/rapidez.png" alt="" />
      <p>
        Nuestra rapidez a la hora de entregar un pedido a nuestros clientes es
        óptima gracias a nuestra gestión del almacen y gran personal
      </p>
      <div class="boton">
        <button
          class="btn btn-primary"
          routerLink="/sobrenosotros"
          (click)="scroll()"
        >
          Ver más
        </button>
      </div>
    </div>
    <div class="tarjeta">
      <h4>Futuro</h4>
      <img class="img-tarjeta" src="../../../assets/rapidez.png" alt="" />
      <p>
        Nuestra rapidez a la hora de entregar un pedido a nuestros clientes es
        óptima gracias a nuestra gestión del almacen y gran personal
      </p>
      <div class="boton">
        <button
          class="btn btn-primary"
          routerLink="/sobrenosotros"
          (click)="scroll()"
        >
          Ver más
        </button>
      </div>
    </div>
  </div>
</div>
