<div class="maestro">
  <div class="cabecera">
    <div>
      <img src="../assets/imagen/LOGO-AZURGLOBAL.SVG"  class="logo">
    </div>
    <div class="menu">
      <div>Nosotros</div>
      <div>Productos</div>
      <div>Contacto</div>
      <div>Area Cliente</div>
    </div>
  </div>
  <div class="cuerpo">
    <div class="b bg-warning">
      <div class="info-importante">
        <h1 class="display-1">Nuevas ofertas!!!</h1>
        <p>El precio de los recambios catalogados como </p>
      </div>
    </div>
  </div>
</div>
