* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor-principal{
  height: 100vh;
  display: flex;
  flex-direction: column;

  app-navbar{
    z-index: 10;
    position: fixed;
    width: 100%;
  }

  .contenedor-cuerpo{
    height: 100%;
    margin-top: 50px;
  }
  
}