.maestro{
  height: 2000vh;
  background-color: var(--nube-azur);
  .cabecera{
    width: 100%;
    padding: 0 1rem;
    background-color: var(--azul-azur);
    height: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    gap: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: large;
    .menu{
      height: 100%;
      display: flex;
      gap: 0.5rem;

    }
    >div{
      cursor: pointer;
    }
    .logo{
      width: 180px;
    }
  }
}
