.contenedor-principal{
    height: 100%;
    background-image: url(../../../assets/LOGO-AZURGLOBAL.SVG);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}