<div class="contenedor-principal">
    
    <div class="login">
        <img src="../../../assets/LOGO-AZURGLOBAL.SVG" class="logo-login" alt="">
        <div class="form-floating mb-3">
            <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput"><fa-icon class="icon" [icon]="faUser"></fa-icon> Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput"><fa-icon class="icon" [icon]="faCandado"></fa-icon> Contraseña</label>
          </div>
        <button class="btn btn-primary boton">Entrar</button>
    </div>
</div>