<div class="contenedor-principal">
  <div class="login">
    <img src="../../../assets/LOGO-AZURGLOBAL-WP(MEDIANO).png" class="logo-login" alt="" />
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control form-control-sm"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput"
        ><fa-icon class="icon" [icon]="faUser"></fa-icon> Usuario</label
      >
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control form-control-sm"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput"
        ><fa-icon class="icon" [icon]="faCandado"></fa-icon> Contraseña</label
      >
    </div>
    <app-boton [contenido]="'Entrar'" [estilo]="'estiloAzulClaro'" [size]="'150px'"></app-boton>
  </div>
</div>
