.contenedor-principal{
    height: 78.7vh;
    background-image: url(../../../assets/empresa/Almacen3.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .logo-login{
        height: 50px;
    }
    .login{
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 40%;
        width: 20%;
        background-color: var(--azul-opacity-azur);
        input {
            border: 0;
            border-bottom: 2px solid grey;
            color: white;
            
            background-color:rgba(255, 255, 255, 0);
            &:focus{
                border: 0;
                border-bottom: 2px solid grey;
                border-color: rgba(255, 255, 255, 0);
                background-color: rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 0;
            }

        }
        .boton{
            width: 80%;
            border-color: var(--logoAzulOscuro-azur);
            background-color: var(--logoAzulOscuro-azur);
        }
    }
}