button{
    width: 100px;
    height: 30px;
    background-color: var(--azul-azur);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    &:hover{
        background-color: var(--logoAzulOscuro-azur);
    }
    &:focus{
        border-color: var(--logoAzulOscuro-azur);
    }
}
