*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
:root{
    --logoAzulOscuro-azur: #002b81;
    --logoRosa-azur: #ff0ecc;
    --logoAzulClaro-azur: #1865f0;
    --azul-azur: #00478e;
    --azul-opacity-azur: #00478ee8;
    --cielo-azur: #0078be;
    --cieloClaro-azur: #2896c8;
    --cyan-azur: #17b6da;
    --cyanOp-azur: #17b6da85;
    --niebla-azur: #b6e3f2;
    --nube-azur: #e4f8ff;
    --verde-azur: #3cb371;
    --verdeClaro-azur: #73c699;
    --naranja-azur: #f47920;
    --amarillo-azur: #fbad34;
    --rojo-azur: #b3001b;
    --coral-azur: #f44336;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
