
    <div class="contenedor-principal">
      <div class="todo" id="contenedor-carrusel" [style]=anchoTodo()>
        <div class="cajas" *ngFor="let item of lista; index as i; " [style]=anchoCaja() >
          <div class="contenido" [ngClass]="{'centro': i == centro}">
            <img src={{item.image}}>
            <p>{{item.familia}} </p>
          </div>
        </div>
      </div>
      <!-- <app-boton [contenido]="'&#10229;'" [estilo]="'carrusel'" class="boton boton-izquierda" (click)="animacion(true)"></app-boton>
      <app-boton [contenido]="'&#10230;'" [estilo]="'carrusel'" class="boton boton-derecha" (click)="animacion(false)"></app-boton> -->
      <div class="boton boton-izquierda" (click)="animacion(true)"><fa-icon class="icon fa-1x" [icon]="iconoLeft" ></fa-icon></div>
      <div class="boton boton-derecha" (click)="animacion(false)"><fa-icon class="icon fa-1x" [icon]="iconoRight" ></fa-icon></div>
    </div>