<div class="contenedor-principal">
    <div class="contenedor-lateral">
        <div class="contenido-lateral">
            <div class="producto">
                <div class="imagen-producto">
                    <img src="../../../assets/piezas/AMORTIGUADORES2.png" alt=""/>
                </div>
                <div class="titulo-producto">Etiqueta</div>
            </div>
        </div>
        <!-- <div class="carrusell-caption">
            <button class="boton ">
                &#10229;
            </button>
        </div> -->
    </div>
    <div class="contenedor-centro">
        <div class="contenido-central">
            <div class="producto">
                <div class="imagen-producto">
                    <img src="../../../assets/piezas/AMORTIGUADORES2.png" alt=""/>
                </div>
                <div class="titulo-producto">Etiqueta</div>
            </div>
        </div>
    </div>
    <div class="contenedor-lateral">
        <div class="contenido-lateral derecha">
            <div class="producto">
                <div class="imagen-producto">
                    <img src="../../../assets/piezas/COMPRESOR2.png" alt=""/>
                </div>
                <div class="titulo-producto">Etiqueta</div>
            </div>
        </div>
        <!-- <div class="carrusell-caption">
            <button class="boton ">
                &#10230;
            </button>
        </div> -->
    </div>
</div>