
    <div class="contenedor-principal">
      <div class="todo" id="contenedor-carrusel" [style]=anchoTodo()>
        <div class="cajas" *ngFor="let item of lista; index as i; " [style]=anchoCaja() >
          <div class="contenido" [ngClass]="{'centro': i == centro}">
            <img src={{item.image}}>
            <p>{{item.familia}} </p>
          </div>
        </div>
      </div>
      <app-boton [contenido]="'&#10229;'" class="boton boton-izquierdo" (click)="animacion(true)"></app-boton>
      <app-boton [contenido]="'&#10230;'" class="boton boton-derecho" (click)="animacion(false)"></app-boton>
    </div>